<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link href="/output.css" rel="stylesheet">
</head>

<body class="flex items-center justify-center h-screen bg-gradient-to-t from-blue-400 to-white text-white  p-5">
  <main class="flex flex-col justify-center items-center w-1/2 p-8 font-sans bg-gray-900 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-20 border border-gray-100">
    <h1 class="text-2xl font-bold mb-4"><%= title %></h1>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ipsa odio aliquid accusantium beatae, officia possimus esse perspiciatis dolorum eius perferendis ex ipsam vitae voluptatibus minima natus reiciendis earum neque?</p>
  </main>
</body>

</html>
