<footer class="bg-gray-900 border-t border-gray-400 text-white py-8 text-lg text-center">
    <div class="container max-w-md mx-auto">

        <h3>Estudio Juridico De SA y asociados</h3>

        <ul class="flex gap-10 justify-center">
            <li><a href="#"></a><i class="fab fa-facebook"></i></li>
            <li><a href="#"></a><i class="fab fa-instagram"></i></li>
            <li><a href="#"></a><i class="fab fa-whatsapp"></i></li>
        </ul>

    </div>
</footer>